.popup-box {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);


}

.popup-content {
    

    position: fixed;
    top: 150px;
    left: center;
    width: 300px;
    height: 400px;
    background-color: rgb(250, 239, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}





.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

