.image-grid  {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
  }
 
  
  .grid-image {
    width: 110px; 
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
    
   
  }

  .image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
    height: 200px;
     
   
  }
  
.caption {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
 
  color: black;
  padding: 10px;
 
  width: 100%;
}

.caption h2 {
  font-size: 1.0em;
  margin: 0;
}

.caption p {
  font-size: 1em;
  margin: 0;
}
  

   /* src/aeroSlider.css */

/* .slick-slide {
  transition: transform 0.5s ease-in-out;
}

.slick-current {
  transform: scale(1.1);
  z-index: 1;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #3bb77e;
}

.slick-prev:before, .slick-next:before {
  color: #3bb77e;
} */